
@import "../node_modules/bulma/sass/utilities/initial-variables";

// bulma varialbes, see
// http://bulma.io/documentation/overview/variables/

$family-sans-serif: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-serif: "Crete Round", serif;

$primary: #ff922b;
$info: #219792;
$success: #58a479;
$warning: #f8ea5c;
$danger: #d2172c;

$link: $info;

@import "../node_modules/bulma/bulma.sass";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $family-serif;
}
