{
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.2.0"
    }
  },
  "extends": "prettier",
  "rules": {
    "prettier/prettier": "error"
  }
}
