{
  "extends": "stylelint-config-standard",
  "ignore": './public/**',
  "rules": {
    "max-empty-lines": 2,
    "rule-empty-line-before": null,
    "selector-type-no-unknown": [true, {
      ignoreTypes: ["date-input-polyfill"]
    }]
  }
}
