@import "../node_modules/bulmaswatch/journal/_variables.scss";

// variable overrides here

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulmaswatch/journal/_overrides.scss";

.card--post {
  margin-top: 1px;
  margin-bottom: 1rem;
}

.is-expanded {
  flex-grow: 1;
}
