@import "../node_modules/bulmaswatch/journal/_variables.scss";

$family-sans-serif: 'Open Sans', sans-serif;
$family-heading: $family-sans-serif;
$bulmaswatch-import-font: false;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulmaswatch/journal/_overrides.scss";

$z-control-panel: 10;
$z-card: 1;

.is-expanded {
  flex-grow: 1;
}

main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.control-panel {
  position: fixed;
  top: $navbar-height;
  left: 0;
  right: 0;
  z-index: $z-control-panel;
  background-color: white;
  box-shadow: $card-shadow;
  @media (min-width: $tablet) {
    position: sticky;
    top: $navbar-height + 3rem;
  }
}

.plain-button {
  border: none;
  background: transparent;
  color: $primary;
  display: inline-block;
  cursor: pointer;
}

.card--post {
  margin-bottom: 1rem;
  position: relative;

  .card-header::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .card__summary {
    max-height: 6.5rem;
    overflow: hidden;
    position: relative;
    &::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      top: 4.5rem;
      left: 0;
      right: 0;
      height: 2rem;
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }
  }

  button,
  a {
    position: relative;
    z-index: $z-card;
  }
}

.metadata {
  margin-top: 1em;
  &__item {
    margin-right: 0.5em;
  }
}

.single-post-controls {
  font-size: 2rem;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loading {
  @extend .loader;
  margin-left: 0;
  margin-right: 0;
  width: 6rem;
  height: 6rem;
}
